@font-face {
    font-family: "RobotoSlab";
    src: url(/download/font/RobotoSlab.ttf) format("truetype");
}

@font-face {
    font-family: "Dosis";
    src: url(/download/font/Dosis.ttf) format("truetype");
}

@font-face {
    font-family: "Oswald";
    src: url(/download/font/Oswald.ttf) format("truetype");
}

@font-face {
    font-family: "ShadowsIntoLight";
    src: url(/download/font/ShadowsIntoLight.ttf) format("truetype");
}
