div.master-wrapper {
    background-image: url("/download/img/ppap-background.jpg");
    background-repeat: repeat;
}

div.index-excerpt-wrapper {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
    width: 900px;
    background-color: #fcfcfc;
    box-shadow: 0 0 40px 2px #d8d8d8;
    -moz-box-shadow: 0 0 40px 2px #d8d8d8;
    -webkit-box-shadow: 0 0 40px 2px #d8d8d8;
    z-index: 1;
}
