header.post-blog-header {
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: RobotoSlab, sans-serif;
    font-size: 3.6em;
}

div.post-blog-content {
    margin-bottom: 60px;
    font-family: Dosis, sans-serif;
    font-size: 1.4em;
}

div.post-blog-content a {
    text-decoration: none;
    color: #1a66e0;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

div.post-blog-content a:hover {
    color: #7aa7ef;
}

span.post-blog-date {
    display: block;
    margin: 30px 0;
    font-family: Dosis, sans-serif;
    font-size: 1.2em;
    font-style: italic;
    color: #aaaaaa;
}

div.post-blog-content p {
    margin: 10px 0;
}

figure.highlight > pre {
    background-color: white;
    font-family: consolas, sans-serif;
    font-size: 0.8em;
    overflow: auto;
    box-shadow: 0 0 0.2px 0.2px gray;
}

i.fa-asterisk {
    display: block;
    margin: 40px auto;
    width: 10px;
    color: #5b5b5b;
}
