ul.about-me-info {
    list-style: none;
    line-height: 2.4em;
    margin-bottom: 40px;
}

ul.about-me-info li {
    font-family: Dosis;
    font-size: 1.4em;
}

ul.about-me-info a {
    color: black;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

ul.about-me-info a:hover {
    color: #4286f4;
}

ul.about-me-info em{
    font-weight: bold;
    font-style: normal;
}

hr.about-separator {
    display: block;
    height: 1px;
    margin: 0 2.7;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
