.master-top-bar {
    z-index: 3;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #7aa7ef;
    box-shadow: 0 2px 2px #888888;
}

a.master-top-bar-site-name {
    float: left;
    height: 100%;
    margin: 0 25px;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 3px black;
    line-height: 55px;
    font-family: ShadowsIntoLight, sans-serif;
    font-size: 2.8em;
    color: white;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
}

a.master-top-bar-site-name:hover {
    transform: translate(2px, 4px);
}

a.master-top-bar-github, a.master-top-bar-about {
    float: right;
    border-radius: 10px;
}

a.master-top-bar-github {
    height: 100%;
    margin-left: 8px;
    margin-right: 14px;
    padding: 0 17px;
    color: black;
}

a.master-top-bar-github i {
    font-size: 1.7em;
    line-height: 55px;
}

a.master-top-bar-about {
    height: 100%;
    margin-left: 8px;
    padding: 0 9px;
    text-decoration: none;
    text-shadow: 0.5px 0.5px 3px black;
    line-height: 55px;
    font-family: Oswald, sans-serif;
    font-size: 1.4em;
    color: #e5e7ea;
}

a.master-top-bar-github:hover, a.master-top-bar-about:hover {
    background-color: #3a80f2;
    box-shadow: 0 0 2px gray;
    -moz-box-shadow: 0 0 2px gray;
    -webkit-box-shadow: 0 0 2px gray;
    transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
}

a.master-top-bar-about:hover {
    color: white;
}

a.master-top-bar-github:hover {
    color: #18325b;
}
