body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edeeef;
}

.master-wrapper {
    position: relative;
    top: 55px;
}

.master-main-content {
    border: 0;
    margin: 0;
    padding: 0.1px;
    overflow: hidden;
}
