---
layout: master-layout
---

<div class="about-wrapper">
  <div class="about-me">
    <header class="about-me-header about-header">Who am I ?</header>
    <ul class="about-me-info">
      <li>Undergraduate student at <a href="https://en.wikipedia.org/wiki/Harbin_Institute_of_Technology"><em>Harbin of Institute</em></a>, <em>China</em>.</li>
      <li><em>Engaged</em> in Information Technolog.</li>
      <li>At present working on <em>web development</em> <del>AND FIND IT LIKE SHIT</del> .</li>
    </ul>
  </div>
  <hr class="about-separator">
  <div class="about-projects">
    <header class="about-projects-header about-header">What have I done ?</header>
    <div class="about-projects-info">
      <h1>HITChannel</h1>
      <h3>An anonymous forum for every student in HIT.</h3>
      <div class="about-projects-info-link">
        <img src="/download/img/hit-icon.png" id="hit-icon" alt="HIT">
        <a href="https://hitchan.xyz/">https://hitchan.xyz/</a>
      </div>
      <div class="about-projects-info-link">
        <i class="fa fa-github-alt" aria-hidden="true"></i>
        <a href="https://github.com/Moandor-y/hit-chan">https://github.com/Moandor-y/hit-chan</a>
      </div>
      <img src="/download/img/hit-chan.png" id="hit-chan" alt="hitchan.xyz">
    </div>
  </div>
  <hr class="about-separator">
  <i class="fa fa-asterisk" aria-hidden="true"></i>
</div>
